.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 50px;
  border-bottom: 2px dashed var(--yellow-theme-main-color);
  h2 {
    font-size: 36px;
    font-family: 700;
    color: var(--yellow-theme-main-color);
    display: inline-block;
    line-height: 1em;
    letter-spacing: 7px;
    position: relative;
    text-transform: uppercase;
    padding: 5px 10px;
  }

  span {
    svg {
      color: var(--yellow-theme-main-color);
    }
  }
}
