.contact {
  position: relative;
  top: 80px;
}
.contact__content {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.contact__content__header-text {
  color: var(--yellow-theme-sub-text-color);
  display: inline-block;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--yellow-theme-main-color);
}
.contact__content__header-text::before, .contact__content__header-text::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 5px;
  background-color: var(--yellow-theme-main-color);
  bottom: -1px;
}
.contact__content__header-text::before {
  left: 0px;
}
.contact__content__header-text::after {
  right: 0px;
}
.contact__content__form {
  margin-top: 30px;
}
.contact__content__form__controlswrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}
.contact__content__form__controlswrapper div {
  position: relative;
}
.contact__content__form__controlswrapper div .inputName,
.contact__content__form__controlswrapper div .inputEmail,
.contact__content__form__controlswrapper div .inputDesc {
  width: 100%;
  border: 2px solid var(--yellow-theme-main-color);
  padding: 16px 12px;
  transition: all 0.5s ease;
  position: relative;
  background-color: transparent;
  color: var(--yellow-theme-sub-text-color);
}
.contact__content__form__controlswrapper div .nameLabel,
.contact__content__form__controlswrapper div .emailLabel,
.contact__content__form__controlswrapper div .descLabel {
  font-weight: 500;
  position: absolute;
  top: 7px;
  left: 12px;
  color: var(--yellow-theme-sub-text-color);
  transition: all 0.2s ease;
  font-size: 16px;
}
.contact__content__form__controlswrapper div .inputName:focus,
.contact__content__form__controlswrapper div .inputEmail:focus,
.contact__content__form__controlswrapper div .inputDesc:focus {
  outline: none;
  border-color: var(--yellow-theme-sub-text-color);
}
.contact__content__form__controlswrapper div .inputName:focus + .nameLabel,
.contact__content__form__controlswrapper div .inputName:valid + .nameLabel,
.contact__content__form__controlswrapper div .inputEmail:focus + .emailLabel,
.contact__content__form__controlswrapper div .inputEmail:valid + .emailLabel,
.contact__content__form__controlswrapper div .inputDesc:focus + .descLabel,
.contact__content__form__controlswrapper div .inputDesc:valid + .descLabel {
  top: -25px;
  left: 0px;
  font-size: 18px;
  color: var(--yellow-theme-sub-text-color);
}
.contact__content button {
  cursor: pointer;
  padding: 10px 70px;
  font-size: 2rem;
  background: transparent;
  color: var(--yellow-theme-main-color);
  border: 1.5px solid var(--yellow-theme-main-color);
  border-radius: 4px;
  font-weight: 500;
}
.contact__content button:hover {
  background-color: var(--yellow-theme-main-color);
  color: #000;
}
.contact__content__contactInfo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 70%;
  margin: 50px auto;
  gap: 20px;
}
.contact__content__contactInfo div {
  border: 1px solid var(--yellow-theme-main-color);
  padding: 30px 60px;
  color: var(--yellow-theme-sub-text-color);
  font-size: 18px;
  font-weight: 500;
}
.contact__content__contactInfo div h3 {
  font-size: 24px;
  color: var(--yellow-theme-main-color);
  margin-top: 0;
}
.contact__content__contactInfo div p,
.contact__content__contactInfo div a {
  color: var(--yellow-theme-sub-text-color);
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .contact__content {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}/*# sourceMappingURL=styles.css.map */